:root {
    --primario: #0e457d;
    --primarioOscuro: #0b2c52;
    --secundario: #576573;
    --secundarioOscuro: #35495f;
    --blanco: #fff;
    --negro: #000;
    --fuentePrincipal: 'Poppins', sans-serif;
    ;
}

/*Global*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    color: var(--blanco);
    font-weight: bold;
    /*esto de aqui es mejor crear una herramienta o un generico*/
}
img {
    max-width: 100%;
}

/*tools*/
h1 {
    font-size: 1rem;
}