:root {
    --primario: #0e457d;
    --primarioOscuro: #0b2c52;
    --secundario: ;
    --secundarioOscuro: ;
    --blanco: #fff;
    --negro: #000;
    --fuentePrincipal: 'Poppins', sans-serif;
    ;
}